version: '3.8'

services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: denuel_dev
    volumes:
      - db-data:/var/lib/postgresql/data
    ports:
      - '5432:5432'

  pgadmin:
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@denuel.local
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - '5050:80'

  web:
    build: .
    command: npm run dev
    volumes:
      - ./:/app
      - /app/node_modules
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@db:5432/denuel_dev?schema=public
      - NODE_ENV=development
    ports:
      - '3000:3000'
    depends_on:
      - db
      
  redis:
    image: redis:7
    ports:
      - '6379:6379'

  ws:
    image: node:20
    working_dir: /app
    volumes:
      - ./:/app
    command: node ./scripts/ws-server-redis.js
    environment:
      - REDIS_URL=redis://redis:6379
      - WS_PORT=4001
    depends_on:
      - redis

volumes:
  db-data:
